extends ../../../templates/navbar.pug

block content
  section.hero.is-primary.is-bold
    .hero-body
        div.container(style='height:100%')
          h2.title Contact Us
          hr
          h3.title Email: psm.sup.adm@gmail.com
          h3.title Phone: 091996919603
          h3.title Office: Sta Mesa Manila
