br
html(xmlns='http://www.w3.org/1999/xhtml')
  head
  body
    link(rel="stylesheet" href="/assets/font-awesome-4.7.0/css/voucher.css")
    #page-wrap
      Label INVOICE
      br
      br
      #identity
        #address
          | Seller Details 
          br
          | Name :
          br
          | Student Number :
          br
          | Contact Details :
      #customer
        #customer-title
          | Buyer Details
          br
          | Name :
          br
          | Student Number :
          br
          | Contact Details :
        table#meta
          tr
            td.meta-head Invoice #
            td
              | 000123
          tr
            td.meta-head Date
            td
              #date September 30, 2017
          tr
            td.meta-head Amount Due
            td
              .due Php 8000.00
      table#items
        tr
          th Item
          th Description
          th Unit Cost
          th Quantity
          th Price
        tr.item-row
          td.item-name
              text Shoes
          td.description
            text Kyrie 3 
          td
            text.cost Php 6500.00
          td
            text.qty 1
          td
            span.price Php 6500.00
        tr.item-row
          td.item-name
              text Titan Gel
          td.description
            text Supplement
          td
            text.cost Php 750.00
          td
            text.qty 2
          td
            span.price Php 1500.00
            br
            br
            br
        tr
          td.blank(colspan='2')  
          td.total-line(colspan='2') Subtotal
          td.total-value
            #subtotal Php 8000.00
        tr
          td.blank(colspan='2')  
          td.total-line(colspan='2') Total
          td.total-value
            #total Php 8000.00
        tr
          td.blank(colspan='2')  
          td.total-line.balance(colspan='2') Balance Due
          td.total-value.balance
            .due Php 8000.00
      #terms
        h5 Terms
        text
          | Print This Form.