extends ../../../templates/navbar.pug

block content
  h2.title Frequently Asked Questions
  hr

  h4.title How can I be sure that the personal information i shared in your website is secure?
  p A: All of your data is being kept and monitored in a secured data base which password is only known to system admins.
  hr

  h4.title How do I start?
  p A: Items are posted on the Home Page, and also on the Categories tab to see more specific items. You can view posts and its description by clicking on the title. You can buy items by clicking the Order button, which will take you to a page that will ask you for the Order Password. Once the Correct Order Password is entered, a transaction starts. You can also sell your own item on the Sell Item tab.
  hr

  h4.title Can everybody see my posts?
  p A: Your posts can be seen by everyone with an account.
  hr

  h4.title I see a post that seems to be inappropriate, what should I do?
  p A: Any posts can be reported by clicking the Report Button on the upper right corner. The admins will judge whether the post stays or goes down.
  hr

  h4.title How can I get the Order Password of Post?
  p A: You must contact the Seller through his E-mail, or on other communication platforms by using the Contact Information he/she displated.
  hr

  h4.title What happens after ordering an item
  p A: You are to meetup with your transaction partner with your copy of the Order Slip
  hr

  h4.title How do I print the Order Slip?
  p A: Method varies with the Browser being used.
  hr

  h4.title How do I get back to the Order Slip of a Specific Item?
  p A:
  hr

  h4.title What should I do after I receive the Item I Bought
  p A:
  hr

  h4.title The Item I received is not the Item I Bought or is fake. What should I do?
  p A:
  hr

  h4.title Where can I send my feedback, complaints, and suggestions to the Admins?
  p A:
  hr

  h4.title How does end transaction work?
  p A:
  hr

  h4.title My transaction partner did not show up, what should I do?
  p A:
  hr
