extends ../../../templates/navbar.pug

block content
    block body
        br
        h2.title Frequently Asked Questions
        hr
        h4.title How can I be sure that the personal information i shared in your website is secure
        p A: All of your data is being kept and monitored in a secured data base which password is only known to system admins
        br
        h4.title How do I start
        p A: You can view all of the available items per category at your homepage, If you want to sell, just click the "Sell" button at your profile and fill up the fields required to post your product.
        br
        h4.title Can everybody see my posts
        p A: regardless of the your branch , your post/s will be seen by everyone that owns an account
