extends ../../../templates/navbar.pug

block content
  each user in usertab
    h3.title Welcome to PUP Student Market, #{user.strName}
    hr
    p
      i No posts were found

  #footer
    .container
      .content.has-text-centered
        br
        p
          | Follow Us&nbsp
          a(href='https://www.facebook.com/jc.doronila.35?ref=br_rs')
            b Here
