extends ../../../templates/navbar.pug

block content
  each user in usertab
    h3.title Welcome to PUP Student Market, #{user.strName}
    hr
    p
      i No posts were found

  #footer
    .container
      .content.has-text-centered
        br
        p
          | Follow Us&nbsp
          a(href='https://www.facebook.com/unidentified.py')
            b Here
  #footer
    .container
      .content.has-text-centered
        br
        p
          b PUP Student Market
          | &nbspis a project made by&nbsp
          b PSM Team
        p
          b Contact Us:
          | &nbsppsm.sup.adm@gmail.com
