extends ../../../templates/navbar.pug

block content
  h2.title RULES
  hr
  h3.subtitle 1. All Account owners must be a student or a former student of the university.
  h3.subtitle 2. The full description of the product being sold must be posted even it's issues (if it has)
  h3.subtitle 3. Always Make sure to come to the agreed meeting place and time .
  h3.subtitle 4. All fraud sellers'/buyers' account that didn't commit to the transaction can be reported.
