extends ../../../../templates/master.pug

block content
  link(rel="stylesheet" href="/assets/font-awesome-4.7.0/css/login.css")
  .login-wrap
    .login-html
        label PUP STUDENT MARKET 
        br
        br
        label.tab Sign In
        br
        label4 Your registration is still under assessment by our team
        br
        label4 Contact Us: psm.sup.adm@gmail.com / 091996919603
        br
        form(method="POST" action="/login")
            .group
            label.label(for='user') 
            h2 Student Number
                input.input1(type="text" maxlength="15" name="studnum", required)
            .group
            label.label(for='pass') 
            h2
                br
                input.input2(type="password" placeholder="Password" name="password", required)
            br
            .group
            input.button.is-primary.is-inverted.is-outlined(type='submit', value='Sign In')
            br
            br
            br
            .group
            a.button.is-primary.is-inverted.is-outlined(href="/register") REGISTER


    //- h3.title 
  //- p &nbsp
  //- h3.subtitle &nbsp Contact Us: psm.sup.adm@gmail.com / 091996919603
