extends ../../../templates/master.pug

block content
    h1.title PUP Student Market
    hr
    h3.title Please Fill up the Registration Form First to Proceed!
    hr
    a(href="/register") REGISTER
