extends ../../../../templates/navbar.pug

block content
  section.hero.is-primary.is-bold
    .hero-body
        div.container(style='height:100%')
          h3.title Edit your profile:
          section.hero.is-danger.is-bold
            .hero-body
              h1.title Submission Failed
              h1.subtitle - Fill in all fields to Update Profile
          br
          each user in usertab
            form(method="POST" action="/profile/-/edit")
                .field
                    .control
                        input.input(type="text" placeholder="Full Name (John S. Doe)" value=user.strName name="studname")
                .field
                    .control
                        input.input(type="password" placeholder="Old Password" name="oldpass")
                .field
                    .control
                        input.input(type="password" placeholder="New Password" name="newpass")
                .field
                    .control
                        input.input(type="password" placeholder="Confirm Password" name="confirm")
                .field
                    .control
                        input.input(type="email" placeholder="E-mail Address" value=user.strEmail name="email")
                .field
                    .control
                        input.input(type="text" placeholder="Contact Info (Optional)" value=user.txtContact name="contact")
                input(type="submit" value="Save")
                hr
                a.button.is-primary.is-inverted.is-outlined(class="button", href="/profile") Back
