extends ../../../templates/navbar.pug

block content
  link(rel="stylesheet" href="/assets/font-awesome-4.7.0/css/category.css")
  div(align='center')
    h2.title CATEGORIES
    h2.subtitle &nbspSelect a Category to view posts in it
    hr(style='border: 0.5px solid #990000')
    .hero-body
        //- #wrapper
        each cat in cattab
          br
          .card
            a.big-btn.button.is-warning(class="button", href="/categories/"+ cat.strCatName +'/page/1') #{cat.strCatName}
