extends ../../../templates/navbar.pug

block content
  section.hero.is-primary.is-bold
    .hero-body
        div.container(style='height:100%')
          block body
              h2.title CATEGORIES
              h2.subtitle &nbspSelect a Category to view posts in it
              hr
              each cat in cattab
                br
                h3.title
                  a(href='/categories/'+ cat.strCatName) #{cat.strCatName}
