extends ../../../templates/navbar.pug

block content
  section.hero.is-primary.is-bold
    .hero-body
        div.container
          #wrapper
            h2.title Order Success!
            hr
            each post in posttab
              a.button.is-primary.is-inverted.is-outlined(href='/categories/' + post.strCatName + '/' + post.intItemID ) BACK
