extends ../../../../templates/master.pug

block content
  section.hero.is-info.is-bold
    .hero-body
        div.container
          section.hero.is-dark.is-bold
            .hero-body
              h1.title PUP Student Market
          hr
          h3.title Register:
          section.hero.is-danger.is-bold
            .hero-body
              h1.title Submission Failed
              h1.subtitle - The submitted Student Number is already registered
          br
          p All fields are required in order to successfully register, unless stated optional
          form(method="POST" action="/register")
              .field
                  .control
                      input.input(type="text" placeholder="Student Number" name="studnum")
              .field
                  .control
                      input.input(type="password" placeholder="Password" name="password")
              .field
                  .control
                      input.input(type="password" placeholder="Confirm Password" name="confirm")
              .field
                  .control
                      input.input(type="text" placeholder="Full Name (John S. Doe) " name="studname")
              .field
                  .control
                      input.input(type="text" placeholder="Gender (M/F)" name="gender")
              .field
                  .control
                      input.input(type="date" placeholder="Birthdate (YYYMMDD)" name="bday")
              .field
                  .control
                      input.input(type="text" placeholder="Branch" name="branch")
              .field
                  .control
                      input.input(type="text" placeholder="E-mail Address" name="email")
              .field
                  .control
                      input.input(type="text" placeholder="Contact Info (Optional)" name="contact")

              input(type="submit" value="Register")
              hr
              a.button.is-info.is-inverted.is-outlined(href="/login") SIGN-IN
