
extends ../../../templates/navbar.pug

block content
  section.hero.is-primary.is-bold
    .hero-body
        div.container(style='height:100%')
          h3.title Edit Your Profile
          hr
          form(method="PUT" action="profile/editprofile")
              .field
                  .control
                      input.input(type="text" placeholder="Full Name (John S. Doe) " name="studname")
              .field
                  .control
                      input.input(type="password" placeholder="Old Password" name="password")
              .field
                  .control
                      input.input(type="password" placeholder="New Password" name="confirm")
              .field
                  .control
                      input.input(type="email" placeholder="E-mail Address" name="email")
              .field
                  .control
                      input.input(type="text" placeholder="Contact Info (Optional)" name="contact")

              input(type="submit" value="Save")
              hr
              a(class="button", href="/profile") Back
