
extends ../../../templates/navbar.pug

block content
        section.hero.is-black
            .hero-body
                h1.title PUP Student Market
                hr
                h3.title Edit your profile:
                    hr
                form.form-horizontal(role='form', method='PUT', action='profile/editprofile', enctype='multipart/form-data')
                    .form-group
                        label.col-md-3.control-label(for='mob_no') Profile Image
                            .col-sm-15
                            input.form-control(type='file', name='uploaded_image', accept='')
                    br
                    .field
                        .control
                            input.input(type="text" placeholder="Full Name (John S. Doe) " name="studname")
                    .field
                        .control
                            input.input(type="password" placeholder="Old Password" name="password")
                    .field
                        .control
                            input.input(type="password" placeholder="New Password" name="confirm")
                    .field
                        .control
                            input.input(type="email" placeholder="E-mail Address" name="email")
                    .field
                        .control
                            input.input(type="text" placeholder="Contact Info (Optional)" name="contact")


                    input.button.is-primary.is-pulled-left(type="submit" value="Save")
                    br
                    hr
                    a.button.is-primary.is-pulled-left(class="button", href="/profile") Back


