extends ../../../templates/navbar.pug

block content
  h3.title Update your information:
  section.hero.is-info.is-bold
    .hero-body
      h3.subtitle Note: You can use your old password as your new password.
  each user in usertab
    form(method="POST" action="/profile/-/edit" enctype='multipart/form-data')
        .field
            .control
                input.input(type="text" placeholder="Full Name (John S. Doe)" value=user.strName name="studname")
        .field
            .control
                label Profile Picture
                br
                input.file-input(type='file', name='profilepic', accept='image/*')
        hr
        .field
            .control
                input.input(type="password" placeholder="Old Password" name="oldpass")
        .field
            .control
                input.input(type="password" placeholder="New Password" name="newpass")
        .field
            .control
                input.input(type="password" placeholder="Confirm Password" name="confirm")
        .field
            .control
                input.input(type="email" placeholder="E-mail Address" value=user.strEmail name="email")
        .field
            .control
                input.input(type="text" placeholder="Contact Info (Optional)" value=user.txtContact name="contact")
        input.button.is-primary.is-inverted.is-outlined(type="submit" value="Save")
        hr
        a.button.is-primary.is-inverted.is-outlined(class="button", href="/profile") Back
