extends ../../../templates/navbar.pug

block content
  section.hero.is-primary.is-bold
    .hero-body
        div.container(style='height:100%')
          a(class="button", href="/profile/editprofile") Edit Profile
