extends ../../../templates/navbar.pug

block content
  div(align='center')
    h2.title Previous Transactions
  hr(style='border: 0.5px solid #990000')
  div(style='width: 33%; float: left' , align='center')
    a.button.is-danger(class="button", href="/profile/-/transactions/1") ONGOING TRANSACTION
  div(style='width: 33%; float: right' , align='center')
    a.button.is-danger(class="button", href="/profile/-/transactions/hold/1") ON HOLD TRANSACTIONS
  div(style='width: 34%; float: right' , align='center')
    a.button.is-danger(class="button", href="/profile/-/transactions/history/1") PREVIOUS TRANSACTIONS
  br
  br
  hr(style='border: 0.5px solid #990000')
  p
    i No transactions were found
