html
    head
        title Express Boilerplate

        link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')

    body
        div.section
            div.container
                block content
