html
    head
        title PUP Student Market

        link(rel="stylesheet" href="/assets/bulma/bulma.css")
        link(rel="stylesheet" href="/assets/font-awesome-4.7.0/css/font-awesome.min.css")

    body
        nav.navbar
            div.navbar-brand
                a.navbar-item(href="/home") PUP STUDENT MARKET
            div.navbar-brand
                a.navbar-item(href="/categories") Categories
            div.navbar-brand
                a.navbar-item(href="/profile") Profile
            div.navbar-brand
                a.navbar-item(href="/sell") Sell Item


            div.navbar-end
                div.navbar-item.has-dropdown.is-hoverable
                    a.navbar-item
                      i.fa.fa-cogs
                      | &nbsp Settings
                      b &nbsp V
                      | &nbsp
                    div.navbar-dropdown.is-right
                        a.navbar-item(href="/home/rules") Rules
                        a.navbar-item(href="/home/help") Help
                        a.navbar-item(href="/home/contact_us") Contact Us
                        a.navbar-item(href="/login") Log-Out
        section.hero.is-primary.is-bold
          .hero-body
              div.container
                #wrapper
                  block content
